<a href="https://colab.research.google.com/github/zachtahajian5/video-games-sales-prediction-modeling/blob/main/pandas_playaround.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd



vgsales = pd.read_csv("vgsales.csv")

head_vgsales_df = vgsales.head(15)
#quick 'sanity check'
print(head_vgsales_df)

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports

   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0   Nintendo     41.49     29.02      3.77         8.46         82.74
1   Nintendo     29.08      3.58      6.81         0.77         40.24
2   Nintendo     15.85     12.88      3.79         3.31         35.82
3   Nintendo     15.75     11.01      3.28         2.96         33.00
4   Nintendo     11.27      8.89     10.22         1.00         31.37
5   Nintendo     23.20      2.26      4.22         0.58         30.26
6   Nintendo     11.38      9.23      6.50         2.90         30.01
7   Nintendo     14.03      9.20      2.93         2.85         29.02
8   Nintendo     14.59      7.06      4.70         2.26         28.62
9   Nintendo     26.93      0.63      0.28         0.47         28.31
10  Nintendo      9.07     11.00      1.93         2.75         24.76
11  Nintendo      9.81      7.57      4.13         1.92         23.42
12  Nintendo      9.00      6.18      7.20         0.71         23.10
13  Nintendo      8.94      8.03      3.60         2.15         22.72
14  Nintendo      9.09      8.59      2.53         1.79         22.00

In [ ]:
head_7_vgsales = vgsales.head(7)
print(head_7_vgsales)

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                    Tetris       GB  1989.0        Puzzle  Nintendo
6     7     New Super Mario Bros.       DS  2006.0      Platform  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01

In [ ]:

pd.describe_option('display.max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]

We only have 11 columns in our DataFrame, so the default setoption of display.max_columns = 20 doesn't need to change for our project.

Still, we would like to see our DataFrame output in a more aesthetically pleasing way, we'll continue to explore options to do so

In [ ]:
pd.describe_option('display.width')

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

It looks like we can augment the default display width to try to prevent the data columns from wrapping.

In [ ]:

pd.describe_option('display.width')

display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

We'll try a display width of 250.

In [ ]:
pd.set_option('display.width', 250)
print(head_7_vgsales)

   Rank                      Name Platform    Year         Genre Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo     41.49     29.02      3.77         8.46         82.74
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo     29.08      3.58      6.81         0.77         40.24
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo     15.85     12.88      3.79         3.31         35.82
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo     15.75     11.01      3.28         2.96         33.00
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo     11.27      8.89     10.22         1.00         31.37
5     6                    Tetris       GB  1989.0        Puzzle  Nintendo     23.20      2.26      4.22         0.58         30.26
6     7     New Super Mario Bros.       DS  2006.0      Platform  Nintendo     11.38      9.23      6.50         2.90         30.01

That worked! All columns are output on a single line. No wrapping!

now that our output is more readable on this end, we're ready to move on to more  DataFrame operations using pandas

tail method: first we'll pull default
then n= 7

then we'll print both outputs

In [ ]:
tail_vgsales = vgsales.tail()
print(tail_vgsales)

        Rank                                              Name Platform    Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002.0  Platform       Kemco      0.01      0.00       0.0          0.0          0.01
16594  16597                     Men in Black II: Alien Escape       GC  2003.0   Shooter  Infogrames      0.01      0.00       0.0          0.0          0.01
16595  16598  SCORE International Baja 1000: The Official Game      PS2  2008.0    Racing  Activision      0.00      0.00       0.0          0.0          0.01
16596  16599                                        Know How 2       DS  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0          0.0          0.01
16597  16600                                  Spirits & Spells      GBA  2003.0  Platform     Wanadoo      0.01      0.00       0.0          0.0          0.01

In [ ]:
tail_three_vgsales = vgsales.tail(3)
print(tail_three_vgsales)

        Rank                                              Name Platform    Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
16595  16598  SCORE International Baja 1000: The Official Game      PS2  2008.0    Racing  Activision      0.00      0.00       0.0          0.0          0.01
16596  16599                                        Know How 2       DS  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0          0.0          0.01
16597  16600                                  Spirits & Spells      GBA  2003.0  Platform     Wanadoo      0.01      0.00       0.0          0.0          0.01

we're noticing an undesireable output in certain blocks due to the unreasonabld columb width created by some of our longer strings for 'Name'.

let's apply another set option to fix this.
we'll start by insoecting the 'display.max_colwidth' set option using describe  option

In [ ]:
pd.describe_option('display.max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]

it says our max column width is 50 characters, let's get that down to 20.

In [ ]:
pd.set_option('display.max_colwidth', 20)
print(tail_three_vgsales)

        Rank                 Name Platform    Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
16595  16598  SCORE Internatio...      PS2  2008.0    Racing  Activision      0.00      0.00       0.0          0.0          0.01
16596  16599           Know How 2       DS  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0          0.0          0.01
16597  16600     Spirits & Spells      GBA  2003.0  Platform     Wanadoo      0.01      0.00       0.0          0.0          0.01